<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= link_to '図書館システム', books_path, class: 'logo header-link' %>
      </div>
      <div class="col-md-6 text-right">
        <%= link_to '検索', books_path, class: 'header-link' %>
        <%= link_to 'ダッシュボード', overdue_loans_path, class: 'header-link' %>
        <% if logged_in? %>
          <p>ようこそ、<%= current_user.name %>さん (<%= current_user.role %>)</p>
          <%= button_to 'ログアウト', logout_path, method: :delete %>
        <% else %>
          <%= link_to 'ログイン', login_path, class: 'header-link' %>
        <% end %>
      </div>
    </div>
  </div>
</header>