<% content_for :extra_css do %>
  <%= stylesheet_link_tag "index", media: "all", "data-turbo-track": "reload" %>
<% end %>

<body class="bg-light">
  <%= yield %>
</body>

<% content_for :title, "書籍検索" %>

<div class="container-fluid my-4 maxw-900">

  <% if notice %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="閉じる"></button>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= alert %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="閉じる"></button>
    </div>
  <% end %>

  <h3 class="mb-4">書籍検索</h3>

  <%= form_with url: books_path, method: :get, local: true, class: "row g-0 mb-4 w-100" do |form| %>

    <div class="col me-1">
      <%= form.text_field :q, value: params[:q], class: "form-control", placeholder: "タイトル・著者を入力" %>
    </div>


    <div class="col-md-3 me-1">
      <%= form.select :category, Book.distinct.pluck(:category), 
          { include_blank: "カテゴリ選択", selected: params[:category] }, 
          class: "form-select" %>
    </div>
    <div class="col-auto">
      <%= form.submit "検索", class: "btn btn-primary" %>
    </div>
  <% end %>

  <table class="table table-hover align-middle table-borderless table-books">
    <thead class="table-secondary">
      <tr>
        <th>タイトル</th>
        <th>著者</th>
        <th>カテゴリ</th>
        <th>在庫</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= link_to book.title, book_path(book), class: "text-decoration-none" %></td>
          <td><%= book.author.presence || "N/A" %></td>
          <td><%= book.category.presence || "-" %></td>
          <td><%= book.stock_status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <% if current_user&.admin? %>
    <%= link_to "新しい本を追加", new_book_path, class: "btn btn-success mt-3" %>
  <% end %>
</div>
