<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>

<% if logged_in? %>
  <% if @loan.present? %>
    <!-- ユーザーが借りているなら返却ボタン -->
    <%= button_to "返す", return_book_book_path(@book), method: :post %>
  <% else %>
    <% if @book.loans.where(returned_at: nil).count < @book.total_copies %>
      <!-- 在庫があれば借りるボタン -->
      <%= button_to "借りる", borrow_book_path(@book), method: :post %>
    <% else %>
      <p>在庫切れ</p>
    <% end %>
  <% end %>
<% end %>